Node-Red/flows/kinozal-dcv-flow.json
[
  {
    "id": "tab_control",
    "type": "tab",
    "label": "DCV кинозала",
    "disabled": false,
    "info": "Автоматизация DCV кинозала по разделу 4 ВКР. Верхний уровень Node-RED получает телеметрию от ПЛК, рассчитывает режим, формирует задания на ЧП и ведет архив."
  },
  {
    "id": "ui_tab_main",
    "type": "ui_tab",
    "name": "DCV кинозала",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_group_status",
    "type": "ui_group",
    "name": "Текущий статус",
    "tab": "ui_tab_main",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "ui_group_control",
    "type": "ui_group",
    "name": "Ручное управление",
    "tab": "ui_tab_main",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "ui_group_trend",
    "type": "ui_group",
    "name": "Тренд CO2",
    "tab": "ui_tab_main",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "http_in_input",
    "type": "http in",
    "z": "tab_control",
    "name": "POST /kinozal-dcv/plc-telemetry",
    "url": "/kinozal-dcv/plc-telemetry",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 120,
    "wires": [
      [
        "fn_norm_input"
      ]
    ]
  },
  {
    "id": "http_in_manual",
    "type": "http in",
    "z": "tab_control",
    "name": "POST /kinozal-dcv/manual",
    "url": "/kinozal-dcv/manual",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 180,
    "wires": [
      [
        "fn_norm_manual"
      ]
    ]
  },
  {
    "id": "http_in_feedback",
    "type": "http in",
    "z": "tab_control",
    "name": "POST /kinozal-dcv/plc-feedback",
    "url": "/kinozal-dcv/plc-feedback",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 240,
    "wires": [
      [
        "fn_norm_feedback"
      ]
    ]
  },
  {
    "id": "http_in_status",
    "type": "http in",
    "z": "tab_control",
    "name": "GET /kinozal-dcv/status",
    "url": "/kinozal-dcv/status",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 300,
    "wires": [
      [
        "fn_status"
      ]
    ]
  },
  {
    "id": "http_in_archive_now",
    "type": "http in",
    "z": "tab_control",
    "name": "POST /kinozal-dcv/archive-now",
    "url": "/kinozal-dcv/archive-now",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 360,
    "wires": [
      [
        "fn_archive_snapshot"
      ]
    ]
  },
  {
    "id": "http_resp_control",
    "type": "http response",
    "z": "tab_control",
    "name": "HTTP ответ",
    "statusCode": "",
    "headers": {},
    "x": 1310,
    "y": 120,
    "wires": []
  },
  {
    "id": "http_resp_status",
    "type": "http response",
    "z": "tab_control",
    "name": "HTTP ответ статуса",
    "statusCode": "",
    "headers": {},
    "x": 560,
    "y": 300,
    "wires": []
  },
  {
    "id": "http_resp_feedback",
    "type": "http response",
    "z": "tab_control",
    "name": "HTTP ответ обратной связи",
    "statusCode": "",
    "headers": {},
    "x": 570,
    "y": 240,
    "wires": []
  },
  {
    "id": "http_resp_archive",
    "type": "http response",
    "z": "tab_control",
    "name": "HTTP ответ архива",
    "statusCode": "",
    "headers": {},
    "x": 860,
    "y": 360,
    "wires": []
  },
  {
    "id": "fn_norm_input",
    "type": "function",
    "z": "tab_control",
    "name": "Нормализовать телеметрию ПЛК",
    "func": "let payload = msg.payload;\nif (typeof payload === \"string\") {\n    try {\n        payload = JSON.parse(payload);\n    } catch (error) {\n        payload = {};\n    }\n}\nif (!payload || typeof payload !== \"object\") {\n    payload = {};\n}\nconst scheduleModes = new Set([\"night\", \"prestart\", \"session\", \"intermission\"]);\nmsg.kind = \"measurement\";\nmsg.payload = {\n    sensor1: payload.sensor1,\n    sensor2: payload.sensor2,\n    scheduleMode: scheduleModes.has(payload.scheduleMode) ? payload.scheduleMode : undefined,\n    timestampMs: payload.timestampMs,\n    source: payload.source || \"plc_telemetry\"\n};\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 120,
    "wires": [
      [
        "fn_dcv_core"
      ]
    ]
  },
  {
    "id": "fn_norm_manual",
    "type": "function",
    "z": "tab_control",
    "name": "Нормализовать ручную команду",
    "func": "let payload = msg.payload;\nif (typeof payload === \"string\") {\n    try {\n        payload = JSON.parse(payload);\n    } catch (error) {\n        payload = { manualMode: msg.payload };\n    }\n}\nif (!payload || typeof payload !== \"object\") {\n    payload = { manualMode: msg.payload };\n}\nmsg.kind = \"manual\";\nmsg.payload = {\n    manualMode: payload.manualMode,\n    timestampMs: payload.timestampMs\n};\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 180,
    "wires": [
      [
        "fn_dcv_core"
      ]
    ]
  },
  {
    "id": "fn_norm_feedback",
    "type": "function",
    "z": "tab_control",
    "name": "Нормализовать обратную связь ПЛК",
    "func": "let payload = msg.payload;\nif (typeof payload === \"string\") {\n    try {\n        payload = JSON.parse(payload);\n    } catch (error) {\n        payload = {};\n    }\n}\nif (!payload || typeof payload !== \"object\") {\n    payload = {};\n}\nfunction normalizeNumber(value) {\n    if (value === null || value === undefined || value === \"\") {\n        return null;\n    }\n    const numeric = Number(value);\n    return Number.isFinite(numeric) ? numeric : null;\n}\nfunction normalizeBool(value, fallback) {\n    if (value === undefined || value === null || value === \"\") {\n        return fallback;\n    }\n    if (value === true || value === 1 || value === \"1\" || value === \"true\") {\n        return true;\n    }\n    if (value === false || value === 0 || value === \"0\" || value === \"false\") {\n        return false;\n    }\n    return Boolean(value);\n}\nmsg.kind = \"feedback\";\nmsg.payload = {\n    supplyFrequencyHz: normalizeNumber(payload.supplyFrequencyHz),\n    exhaustFrequencyHz: normalizeNumber(payload.exhaustFrequencyHz),\n    supplyCurrentA: normalizeNumber(payload.supplyCurrentA),\n    exhaustCurrentA: normalizeNumber(payload.exhaustCurrentA),\n    supplyFault: normalizeBool(payload.supplyFault, false),\n    exhaustFault: normalizeBool(payload.exhaustFault, false),\n    plcLinkOk: normalizeBool(payload.plcLinkOk, true),\n    timestampMs: payload.timestampMs\n};\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 240,
    "wires": [
      [
        "fn_feedback_status"
      ]
    ]
  },
  {
    "id": "fn_status",
    "type": "function",
    "z": "tab_control",
    "name": "Вернуть статус",
    "func": "const state = flow.get(\"dcvState\") || {};\nconst now = Date.now();\nconst lastMeasurementTs = state.lastMeasurementTs ?? null;\nconst lastMeasurementAgeMs = lastMeasurementTs === null ? null : Math.max(0, now - lastMeasurementTs);\nmsg.statusCode = 200;\nmsg.payload = {\n    lastControl: state.lastControl || {\n        message: \"no_data\",\n        note: \"Контроллер еще не получил ни одного измерения\"\n    },\n    lastFeedback: state.lastFeedback || null,\n    measurement: {\n        lastTimestampMs: lastMeasurementTs,\n        lastTimestampIso: lastMeasurementTs === null ? null : new Date(lastMeasurementTs).toISOString(),\n        ageMs: lastMeasurementAgeMs,\n        stale: lastMeasurementTs === null ? true : lastMeasurementAgeMs > 60 * 1000\n    }\n};\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 240,
    "wires": [
      [
        "http_resp_status"
      ]
    ]
  },
  {
    "id": "fn_feedback_status",
    "type": "function",
    "z": "tab_control",
    "name": "Обновить обратную связь ПЛК",
    "func": "const defaults = {\n    manualMode: \"auto\",\n    scheduleMode: \"night\",\n    sensor1: null,\n    sensor2: null,\n    lastMeasurementTs: null,\n    lowCo2Since: null,\n    lastControl: null,\n    lastFeedback: null\n};\nconst state = Object.assign({}, defaults, flow.get(\"dcvState\") || {});\nconst input = msg.payload || {};\nconst parsedTs = Number(input.timestampMs);\nconst now = Number.isFinite(parsedTs) ? parsedTs : Date.now();\nstate.lastFeedback = {\n    timestampMs: now,\n    timestampIso: new Date(now).toISOString(),\n    plcLinkOk: input.plcLinkOk !== false,\n    supplyFrequencyHz: input.supplyFrequencyHz,\n    exhaustFrequencyHz: input.exhaustFrequencyHz,\n    supplyCurrentA: input.supplyCurrentA,\n    exhaustCurrentA: input.exhaustCurrentA,\n    supplyFault: input.supplyFault === true,\n    exhaustFault: input.exhaustFault === true\n};\nif (state.lastControl) {\n    state.lastControl = {\n        ...state.lastControl,\n        feedbackAvailable: true,\n        plcLinkOk: state.lastFeedback.plcLinkOk,\n        supplyActualFrequencyHz: state.lastFeedback.supplyFrequencyHz,\n        exhaustActualFrequencyHz: state.lastFeedback.exhaustFrequencyHz,\n        supplyCurrentA: state.lastFeedback.supplyCurrentA,\n        exhaustCurrentA: state.lastFeedback.exhaustCurrentA,\n        supplyFault: state.lastFeedback.supplyFault,\n        exhaustFault: state.lastFeedback.exhaustFault\n    };\n}\nflow.set(\"dcvState\", state);\nconst responseMsg = {\n    ...msg,\n    statusCode: 200,\n    payload: {\n        accepted: true,\n        feedback: state.lastFeedback\n    }\n};\nconst abnormal = !state.lastFeedback.plcLinkOk || state.lastFeedback.supplyFault || state.lastFeedback.exhaustFault;\nconst logMsg = abnormal ? {\n    payload: JSON.stringify({\n        timestampIso: state.lastFeedback.timestampIso,\n        event: \"plc_feedback_abnormal\",\n        feedback: state.lastFeedback\n    }) + \"\\n\"\n} : null;\nreturn [responseMsg, logMsg];",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 240,
    "wires": [
      [
        "http_resp_feedback"
      ],
      [
        "file_events"
      ]
    ]
  },
  {
    "id": "fn_dcv_core",
    "type": "function",
    "z": "tab_control",
    "name": "Основной алгоритм DCV",
    "func": "const constants = {\n    airflowMin: 3240,\n    airflowNominal: 4050,\n    co2Min: 400,\n    co2Set: 600,\n    co2Low: 450,\n    co2Warning: 1200,\n    co2Alarm: 1400,\n    frequencyMin: 40,\n    frequencyNominal: 50,\n    nominalPowerKw: 1.97,\n    lowCo2DelayMs: 15 * 60 * 1000,\n    measurementTimeoutMs: 60 * 1000\n};\nconst allowedManualModes = new Set([\"auto\", \"night\", \"prestart\", \"session\", \"intermission\", \"force100\"]);\nconst allowedScheduleModes = new Set([\"night\", \"prestart\", \"session\", \"intermission\"]);\n\nfunction clamp(value, min, max) {\n    return Math.max(min, Math.min(max, value));\n}\n\nfunction normalizeSensor(value) {\n    if (value === null || value === undefined || value === \"\") {\n        return null;\n    }\n    const numeric = Number(value);\n    if (!Number.isFinite(numeric)) {\n        return null;\n    }\n    if (numeric < 400 || numeric > 5000) {\n        return null;\n    }\n    return numeric;\n}\n\nfunction fixedOutput(modeName, percentValue) {\n    const ratio = clamp((percentValue - 80) / 20, 0, 1);\n    return {\n        activeMode: modeName,\n        positionPercent: Number(percentValue.toFixed(2)),\n        airflowM3h: Number((constants.airflowNominal * (percentValue / 100)).toFixed(2)),\n        frequencyHz: Number((constants.frequencyMin + (constants.frequencyNominal - constants.frequencyMin) * ratio).toFixed(2))\n    };\n}\n\nfunction sessionOutput(selectedCo2) {\n    const ratio = clamp((selectedCo2 - constants.co2Min) / (constants.co2Set - constants.co2Min), 0, 1);\n    return {\n        activeMode: \"session\",\n        positionPercent: Number((80 + 20 * ratio).toFixed(2)),\n        airflowM3h: Number((constants.airflowMin + (constants.airflowNominal - constants.airflowMin) * ratio).toFixed(2)),\n        frequencyHz: Number((constants.frequencyMin + (constants.frequencyNominal - constants.frequencyMin) * ratio).toFixed(2))\n    };\n}\n\nconst defaults = {\n    manualMode: \"auto\",\n    scheduleMode: \"night\",\n    sensor1: null,\n    sensor2: null,\n    lastMeasurementTs: null,\n    lowCo2Since: null,\n    lastControl: null,\n    lastFeedback: null\n};\nconst state = Object.assign({}, defaults, flow.get(\"dcvState\") || {});\nconst input = msg.payload || {};\nconst parsedTs = Number(input.timestampMs);\nconst now = Number.isFinite(parsedTs) ? parsedTs : Date.now();\n\nif (msg.kind === \"manual\") {\n    const requestedMode = typeof input.manualMode === \"string\" ? input.manualMode.trim() : \"\";\n    if (!allowedManualModes.has(requestedMode)) {\n        const errorPayload = {\n            error: \"Некорректная команда ручного режима\",\n            allowed: Array.from(allowedManualModes)\n        };\n        const responseMsg = msg.req && msg.res ? { ...msg, statusCode: 400, payload: errorPayload } : null;\n        const logEntry = {\n            timestampIso: new Date(now).toISOString(),\n            event: \"invalid_manual_mode\",\n            requestedMode\n        };\n        return [responseMsg, null, { payload: JSON.stringify(logEntry) + \"\\n\" }];\n    }\n    state.manualMode = requestedMode;\n}\n\nif (msg.kind === \"measurement\") {\n    if (Object.prototype.hasOwnProperty.call(input, \"sensor1\")) {\n        state.sensor1 = normalizeSensor(input.sensor1);\n    }\n    if (Object.prototype.hasOwnProperty.call(input, \"sensor2\")) {\n        state.sensor2 = normalizeSensor(input.sensor2);\n    }\n    if (allowedScheduleModes.has(input.scheduleMode)) {\n        state.scheduleMode = input.scheduleMode;\n    }\n    state.lastMeasurementTs = now;\n}\n\nconst validSensors = [state.sensor1, state.sensor2].filter((value) => value !== null);\nconst selectedCo2 = validSensors.length ? Math.max(...validSensors) : null;\nif (selectedCo2 !== null && selectedCo2 < constants.co2Low) {\n    if (state.lowCo2Since === null) {\n        state.lowCo2Since = now;\n    }\n} else {\n    state.lowCo2Since = null;\n}\nconst lowCo2LongEnough = state.lowCo2Since !== null && now - state.lowCo2Since >= constants.lowCo2DelayMs;\nconst lastMeasurementAgeMs = state.lastMeasurementTs === null ? null : Math.max(0, now - state.lastMeasurementTs);\nconst measurementTimeoutActive = state.lastMeasurementTs === null || lastMeasurementAgeMs > constants.measurementTimeoutMs;\n\nlet control;\nlet warningActive = selectedCo2 !== null && selectedCo2 >= constants.co2Warning;\nlet alarmActive = selectedCo2 !== null && selectedCo2 >= constants.co2Alarm;\nlet reserveActive = false;\nlet reason = \"auto\";\n\nif (validSensors.length === 0) {\n    reserveActive = true;\n    alarmActive = true;\n    warningActive = true;\n    control = fixedOutput(\"reserve\", 100);\n    reason = \"sensor_failure_both\";\n} else if (measurementTimeoutActive) {\n    reserveActive = true;\n    alarmActive = true;\n    warningActive = true;\n    control = fixedOutput(\"reserve\", 100);\n    reason = \"measurement_timeout\";\n} else if (alarmActive) {\n    control = fixedOutput(\"alarm\", 100);\n    reason = \"alarm_threshold\";\n} else if (state.manualMode !== \"auto\") {\n    reason = \"manual_override\";\n    if (state.manualMode === \"force100\") {\n        control = fixedOutput(\"manual_force100\", 100);\n    } else if (state.manualMode === \"night\") {\n        control = fixedOutput(\"manual_night\", 80);\n    } else if (state.manualMode === \"prestart\") {\n        control = fixedOutput(\"manual_prestart\", 100);\n    } else if (state.manualMode === \"intermission\") {\n        control = fixedOutput(\"manual_intermission\", 80);\n    } else if (state.manualMode === \"session\") {\n        control = sessionOutput(selectedCo2);\n        control.activeMode = \"manual_session\";\n    } else {\n        control = fixedOutput(\"manual_auto_fallback\", 80);\n    }\n} else if (state.scheduleMode === \"prestart\") {\n    control = fixedOutput(\"prestart\", 100);\n    reason = \"schedule_prestart\";\n} else if (state.scheduleMode === \"intermission\") {\n    control = fixedOutput(\"intermission\", 80);\n    reason = \"schedule_intermission\";\n} else if (lowCo2LongEnough || state.scheduleMode === \"night\") {\n    control = fixedOutput(\"night\", 80);\n    reason = lowCo2LongEnough ? \"co2_below_450_for_15m\" : \"schedule_night\";\n} else {\n    control = sessionOutput(selectedCo2);\n    reason = \"session_dcv\";\n}\n\ncontrol.commandVoltage = Number((10 * control.frequencyHz / constants.frequencyNominal).toFixed(2));\ncontrol.estimatedPowerKw = Number((constants.nominalPowerKw * Math.pow(control.frequencyHz / constants.frequencyNominal, 3)).toFixed(3));\ncontrol.warningActive = warningActive;\ncontrol.alarmActive = alarmActive;\ncontrol.reserveActive = reserveActive;\ncontrol.selectedCo2 = selectedCo2;\ncontrol.sensor1Ppm = state.sensor1;\ncontrol.sensor2Ppm = state.sensor2;\ncontrol.validSensorCount = validSensors.length;\ncontrol.scheduleMode = state.scheduleMode;\ncontrol.manualMode = state.manualMode;\ncontrol.reason = reason;\ncontrol.timestampMs = now;\ncontrol.timestampIso = new Date(now).toISOString();\ncontrol.lastMeasurementTs = state.lastMeasurementTs;\ncontrol.lastMeasurementIso = state.lastMeasurementTs === null ? null : new Date(state.lastMeasurementTs).toISOString();\ncontrol.lastMeasurementAgeMs = lastMeasurementAgeMs;\ncontrol.measurementTimeoutActive = measurementTimeoutActive;\ncontrol.feedbackAvailable = state.lastFeedback !== null;\ncontrol.plcLinkOk = state.lastFeedback ? state.lastFeedback.plcLinkOk : null;\ncontrol.supplyActualFrequencyHz = state.lastFeedback ? state.lastFeedback.supplyFrequencyHz : null;\ncontrol.exhaustActualFrequencyHz = state.lastFeedback ? state.lastFeedback.exhaustFrequencyHz : null;\ncontrol.supplyCurrentA = state.lastFeedback ? state.lastFeedback.supplyCurrentA : null;\ncontrol.exhaustCurrentA = state.lastFeedback ? state.lastFeedback.exhaustCurrentA : null;\ncontrol.supplyFault = state.lastFeedback ? state.lastFeedback.supplyFault : null;\ncontrol.exhaustFault = state.lastFeedback ? state.lastFeedback.exhaustFault : null;\ncontrol.alarmStateLabel = reserveActive ? \"reserve\" : alarmActive ? \"alarm\" : warningActive ? \"warning\" : \"normal\";\n\nstate.lastControl = control;\nflow.set(\"dcvState\", state);\n\nconst responseMsg = msg.req && msg.res ? { ...msg, statusCode: 200, payload: control } : null;\nconst dashboardMsg = { payload: control, topic: \"dcvState\" };\nconst logMsg = { payload: JSON.stringify(control) + \"\\n\" };\nreturn [responseMsg, dashboardMsg, logMsg];",
    "outputs": 3,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 860,
    "y": 150,
    "wires": [
      [
        "http_resp_control"
      ],
      [
        "change_co2",
        "change_mode",
        "change_alarm",
        "change_freq",
        "change_airflow",
        "fn_plc_payload",
        "debug_state"
      ],
      [
        "file_events"
      ]
    ]
  },
  {
    "id": "debug_state",
    "type": "debug",
    "z": "tab_control",
    "name": "Control state",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1320,
    "y": 200,
    "wires": []
  },
  {
    "id": "file_events",
    "type": "file",
    "z": "tab_control",
    "name": "Журнал событий JSONL",
    "filename": "../data/events/events.jsonl",
    "filenameType": "str",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "utf8",
    "x": 1330,
    "y": 260,
    "wires": [
      []
    ]
  },
  {
    "id": "change_co2",
    "type": "change",
    "z": "tab_control",
    "name": "CO2 -> gauge/chart",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.selectedCo2",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "CO2, ppm",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1140,
    "y": 340,
    "wires": [
      [
        "ui_gauge_co2",
        "ui_chart_co2"
      ]
    ]
  },
  {
    "id": "change_mode",
    "type": "change",
    "z": "tab_control",
    "name": "Режим -> text",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.activeMode",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1120,
    "y": 400,
    "wires": [
      [
        "ui_text_mode"
      ]
    ]
  },
  {
    "id": "change_alarm",
    "type": "change",
    "z": "tab_control",
    "name": "Аларм -> text",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.alarmStateLabel",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1120,
    "y": 460,
    "wires": [
      [
        "ui_text_alarm"
      ]
    ]
  },
  {
    "id": "change_freq",
    "type": "change",
    "z": "tab_control",
    "name": "Частота -> text",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.frequencyHz",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1130,
    "y": 520,
    "wires": [
      [
        "ui_text_freq"
      ]
    ]
  },
  {
    "id": "change_airflow",
    "type": "change",
    "z": "tab_control",
    "name": "Расход -> text",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.airflowM3h",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1130,
    "y": 580,
    "wires": [
      [
        "ui_text_airflow"
      ]
    ]
  },
  {
    "id": "ui_gauge_co2",
    "type": "ui_gauge",
    "z": "tab_control",
    "name": "",
    "group": "ui_group_status",
    "order": 1,
    "width": "6",
    "height": "4",
    "gtype": "gage",
    "title": "CO2",
    "label": "ppm",
    "format": "{{value}}",
    "min": 400,
    "max": "1600",
    "colors": [
      "#00b050",
      "#f1c232",
      "#cc0000"
    ],
    "seg1": "600",
    "seg2": "1200",
    "className": "",
    "x": 1370,
    "y": 340,
    "wires": []
  },
  {
    "id": "ui_text_mode",
    "type": "ui_text",
    "z": "tab_control",
    "group": "ui_group_status",
    "order": 2,
    "width": "6",
    "height": "1",
    "name": "",
    "label": "Режим",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 1360,
    "y": 400,
    "wires": []
  },
  {
    "id": "ui_text_alarm",
    "type": "ui_text",
    "z": "tab_control",
    "group": "ui_group_status",
    "order": 3,
    "width": "6",
    "height": "1",
    "name": "",
    "label": "Сигнализация",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 1370,
    "y": 460,
    "wires": []
  },
  {
    "id": "ui_text_freq",
    "type": "ui_text",
    "z": "tab_control",
    "group": "ui_group_status",
    "order": 4,
    "width": "6",
    "height": "1",
    "name": "",
    "label": "Частота, Гц",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 1360,
    "y": 520,
    "wires": []
  },
  {
    "id": "ui_text_airflow",
    "type": "ui_text",
    "z": "tab_control",
    "group": "ui_group_status",
    "order": 5,
    "width": "6",
    "height": "1",
    "name": "",
    "label": "Расход, м3/ч",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 1370,
    "y": 580,
    "wires": []
  },
  {
    "id": "ui_chart_co2",
    "type": "ui_chart",
    "z": "tab_control",
    "name": "",
    "group": "ui_group_trend",
    "order": 1,
    "width": "12",
    "height": "5",
    "label": "Тренд CO2",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Нет данных",
    "dot": false,
    "ymin": "400",
    "ymax": "1600",
    "removeOlder": "24",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": "0",
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#d62728",
      "#9467bd",
      "#8c564b",
      "#e377c2",
      "#7f7f7f"
    ],
    "outputs": 1,
    "useOldStyle": false,
    "className": "",
    "x": 1360,
    "y": 660,
    "wires": [
      []
    ]
  },
  {
    "id": "ui_dropdown_manual",
    "type": "ui_dropdown",
    "z": "tab_control",
    "name": "Ручной режим",
    "label": "Ручной режим",
    "tooltip": "",
    "place": "Выберите режим",
    "group": "ui_group_control",
    "order": 1,
    "width": "6",
    "height": "1",
    "passthru": true,
    "multiple": false,
    "options": [
      {
        "label": "Авто",
        "value": "auto",
        "type": "str"
      },
      {
        "label": "Ночной",
        "value": "night",
        "type": "str"
      },
      {
        "label": "Предпуск",
        "value": "prestart",
        "type": "str"
      },
      {
        "label": "Сеанс",
        "value": "session",
        "type": "str"
      },
      {
        "label": "Межсеансовый",
        "value": "intermission",
        "type": "str"
      },
      {
        "label": "100 %",
        "value": "force100",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "manualMode",
    "topicType": "str",
    "className": "",
    "x": 210,
    "y": 760,
    "wires": [
      [
        "fn_norm_manual"
      ]
    ]
  },
  {
    "id": "fn_plc_payload",
    "type": "function",
    "z": "tab_control",
    "name": "Сформировать команду ПЛК",
    "func": "const control = msg.payload || {};\nconst command = {\n    timestampMs: control.timestampMs,\n    timestampIso: control.timestampIso,\n    transport: \"plc_command\",\n    activeMode: control.activeMode,\n    reason: control.reason,\n    analogOutputs: {\n        supplyFanRefVoltage: control.commandVoltage,\n        exhaustFanRefVoltage: control.commandVoltage\n    },\n    setpoints: {\n        supplyFrequencyHz: control.frequencyHz,\n        exhaustFrequencyHz: control.frequencyHz,\n        airflowM3h: control.airflowM3h,\n        selectedCo2Ppm: control.selectedCo2\n    },\n    discreteOutputs: {\n        warningLamp: control.warningActive,\n        alarmLamp: control.alarmActive,\n        alarmSiren: control.alarmActive,\n        reserveMode: control.reserveActive\n    },\n    diagnostics: {\n        scheduleMode: control.scheduleMode,\n        manualMode: control.manualMode,\n        measurementTimeoutActive: control.measurementTimeoutActive,\n        validSensorCount: control.validSensorCount,\n        plcLinkOk: control.plcLinkOk\n    }\n};\nreturn [{ ...msg, payload: command }, { payload: JSON.stringify(command) + \"\\n\" }];",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1170,
    "y": 720,
    "wires": [
      [
        "debug_plc"
      ],
      [
        "file_plc_commands"
      ]
    ]
  },
  {
    "id": "debug_plc",
    "type": "debug",
    "z": "tab_control",
    "name": "Command to PLC",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1400,
    "y": 720,
    "wires": []
  },
  {
    "id": "file_plc_commands",
    "type": "file",
    "z": "tab_control",
    "name": "Журнал команд ПЛК JSONL",
    "filename": "../data/plc/plc_commands.jsonl",
    "filenameType": "str",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "utf8",
    "x": 1410,
    "y": 780,
    "wires": [
      []
    ]
  },
  {
    "id": "inject_400",
    "type": "inject",
    "z": "tab_control",
    "name": "Тест 400 ppm",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"sensor1\":400,\"sensor2\":400,\"scheduleMode\":\"session\",\"source\":\"inject_400\"}",
    "payloadType": "json",
    "x": 180,
    "y": 840,
    "wires": [
      [
        "fn_norm_input"
      ]
    ]
  },
  {
    "id": "inject_600",
    "type": "inject",
    "z": "tab_control",
    "name": "Тест 600 ppm",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"sensor1\":600,\"sensor2\":600,\"scheduleMode\":\"session\",\"source\":\"inject_600\"}",
    "payloadType": "json",
    "x": 180,
    "y": 900,
    "wires": [
      [
        "fn_norm_input"
      ]
    ]
  },
  {
    "id": "inject_800",
    "type": "inject",
    "z": "tab_control",
    "name": "Тест 800 ppm",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"sensor1\":800,\"sensor2\":780,\"scheduleMode\":\"session\",\"source\":\"inject_800\"}",
    "payloadType": "json",
    "x": 180,
    "y": 960,
    "wires": [
      [
        "fn_norm_input"
      ]
    ]
  },
  {
    "id": "inject_1200",
    "type": "inject",
    "z": "tab_control",
    "name": "Тест 1200 ppm",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"sensor1\":1190,\"sensor2\":1200,\"scheduleMode\":\"session\",\"source\":\"inject_1200\"}",
    "payloadType": "json",
    "x": 190,
    "y": 1020,
    "wires": [
      [
        "fn_norm_input"
      ]
    ]
  },
  {
    "id": "inject_1400",
    "type": "inject",
    "z": "tab_control",
    "name": "Тест 1400 ppm",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"sensor1\":1395,\"sensor2\":1400,\"scheduleMode\":\"session\",\"source\":\"inject_1400\"}",
    "payloadType": "json",
    "x": 190,
    "y": 1080,
    "wires": [
      [
        "fn_norm_input"
      ]
    ]
  },
  {
    "id": "inject_archive",
    "type": "inject",
    "z": "tab_control",
    "name": "Архив каждые 5 минут",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "300",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 210,
    "y": 1160,
    "wires": [
      [
        "fn_archive_snapshot"
      ]
    ]
  },
  {
    "id": "fn_archive_snapshot",
    "type": "function",
    "z": "tab_control",
    "name": "Снимок архива CSV",
    "func": "const state = flow.get(\"dcvState\") || {};\nif (!state.lastControl) {\n    if (msg.req && msg.res) {\n        return [null, { ...msg, statusCode: 409, payload: { archived: false, reason: \"no_data\" } }];\n    }\n    return null;\n}\nconst item = state.lastControl;\nlet payload = \"\";\nif (!context.get(\"headerWritten\")) {\n    payload += \"timestamp_iso,active_mode,schedule_mode,manual_mode,sensor1_ppm,sensor2_ppm,selected_co2_ppm,position_percent,frequency_hz,airflow_m3h,command_voltage,estimated_power_kw,warning_active,alarm_active,reserve_active\\n\";\n    context.set(\"headerWritten\", true);\n}\npayload += [\n    item.timestampIso,\n    item.activeMode,\n    item.scheduleMode,\n    item.manualMode,\n    item.sensor1Ppm ?? \"\",\n    item.sensor2Ppm ?? \"\",\n    item.selectedCo2 ?? \"\",\n    item.positionPercent,\n    item.frequencyHz,\n    item.airflowM3h,\n    item.commandVoltage,\n    item.estimatedPowerKw,\n    item.warningActive,\n    item.alarmActive,\n    item.reserveActive\n].join(\",\") + \"\\n\";\nconst fileMsg = { payload };\nconst responseMsg = msg.req && msg.res ? {\n    ...msg,\n    statusCode: 200,\n    payload: {\n        archived: true,\n        file: \"../data/archives/dcv_archive.csv\",\n        timestampIso: item.timestampIso,\n        activeMode: item.activeMode\n    }\n} : null;\nreturn [fileMsg, responseMsg];",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 1160,
    "wires": [
      [
        "file_archive"
      ],
      [
        "http_resp_archive"
      ]
    ]
  },
  {
    "id": "file_archive",
    "type": "file",
    "z": "tab_control",
    "name": "Архив CSV",
    "filename": "../data/archives/dcv_archive.csv",
    "filenameType": "str",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "utf8",
    "x": 840,
    "y": 1160,
    "wires": [
      []
    ]
  }
]