automation/node_red_flow.json
[
    {
        "id": "tab_dcv_kinozal",
        "type": "tab",
        "label": "DCV-Кинозал CO2",
        "disabled": false,
        "info": "Система автоматического управления вентиляцией кинозала по концентрации CO2.\nОбъект: СПб ГБУК «Петербург-кино», Ярославский пр., д. 55, лит. А.\nЗал: Большой кинозал, 135 мест, П1/В1 4050 м3/ч.\nАлгоритм: DCV (Demand Controlled Ventilation) по ГОСТ 30494-2011.\n\nТребуемые пакеты: node-red-contrib-modbus, node-red-dashboard"
    },

    {
        "id": "modbus_client_plc",
        "type": "modbus-client",
        "name": "ПЛК ОВЕН ПЛК110 (Modbus TCP)",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.1.100",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },

    {
        "id": "modbus_read_co2_s1",
        "type": "modbus-read",
        "z": "tab_dcv_kinozal",
        "name": "Чтение AI1 ПЛК — CO2 датчик №1 (зал)",
        "topic": "co2_sensor1",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": true,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "0",
        "quantity": "3",
        "rate": "30",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "modbus_client_plc",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 390,
        "y": 60,
        "wires": [["parse_co2_s1"], []]
    },

    {
        "id": "parse_co2_s1",
        "type": "function",
        "z": "tab_dcv_kinozal",
        "name": "Разбор ответа — CO2 №1",
        "func": "// Масштабирование: ПЛК ОВЕН — AI1 диапазон 0-4000 единиц = 4-20 мА = 0-2000 ppm CO2\n// Регистры: [0]=CO2(0-4000), [1]=T(*0.1 °C), [2]=RH(*0.1 %)\nconst regs = msg.payload;\nif (!Array.isArray(regs) || regs.length < 3) return null;\n\nmsg.sensor_id = 1;\nmsg.co2_1 = Math.round(regs[0] * 2000 / 4000);  // 0-4000 → 0-2000 ppm\nmsg.temp_1 = regs[1] / 10;                         // *0.1 °C\nmsg.rh_1   = regs[2] / 10;                         // *0.1 %\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 60,
        "wires": [["join_sensors"]]
    },

    {
        "id": "modbus_read_co2_s2",
        "type": "modbus-read",
        "z": "tab_dcv_kinozal",
        "name": "Чтение AI2 ПЛК — CO2 датчик №2 (вытяжка)",
        "topic": "co2_sensor2",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": true,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "3",
        "quantity": "3",
        "rate": "30",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "modbus_client_plc",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 390,
        "y": 120,
        "wires": [["parse_co2_s2"], []]
    },

    {
        "id": "parse_co2_s2",
        "type": "function",
        "z": "tab_dcv_kinozal",
        "name": "Разбор ответа — CO2 №2",
        "func": "// AI2: регистры 3-5 (CO2, T, RH) — аналогично датчику №1\nconst regs = msg.payload;\nif (!Array.isArray(regs) || regs.length < 3) return null;\n\nmsg.sensor_id = 2;\nmsg.co2_2 = Math.round(regs[0] * 2000 / 4000);\nmsg.temp_2 = regs[1] / 10;\nmsg.rh_2   = regs[2] / 10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 120,
        "wires": [["join_sensors"]]
    },

    {
        "id": "join_sensors",
        "type": "join",
        "z": "tab_dcv_kinozal",
        "name": "Объединение показаний",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "sensor_id",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "5",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 840,
        "y": 90,
        "wires": [["merge_data"]]
    },

    {
        "id": "merge_data",
        "type": "function",
        "z": "tab_dcv_kinozal",
        "name": "Слияние данных датчиков",
        "func": "// Объединяем данные двух датчиков, берём максимум CO2 (консервативная стратегия)\nconst s1 = msg.payload[1] || {};\nconst s2 = msg.payload[2] || {};\n\nconst co2_1 = s1.co2_1 || 450;\nconst co2_2 = s2.co2_2 || 450;\nconst co2_max = Math.max(co2_1, co2_2);\n\nconst temp = ((s1.temp_1 || 20) + (s2.temp_2 || 20)) / 2;\nconst rh   = ((s1.rh_1 || 45)  + (s2.rh_2 || 45))   / 2;\n\n// Определяем текущий режим по расписанию\nconst hour = new Date().getHours();\nlet mode = global.get('manual_mode') || 'NIGHT';\nif (!global.get('manual_mode')) {\n    if (hour >= 11 && hour <= 23) {\n        const prestart = [{s:11,e:12},{s:14,e:15},{s:18,e:19}];\n        const sessions = [{s:12,e:14},{s:15,e:18},{s:19,e:22}];\n        const interms  = [{s:14,e:15},{s:18,e:19},{s:22,e:23}];\n        mode = 'SESSION';\n        for (const p of prestart) { if (hour >= p.s && hour < p.e) { mode = 'PRESTART'; break; } }\n        if (mode === 'SESSION') {\n            for (const i of interms) { if (hour >= i.s && hour < i.e) { mode = 'INTERMISSION'; break; } }\n        }\n    }\n}\n\nmsg.payload = {\n    co2_1, co2_2,\n    co2:  co2_max,\n    temp: Math.round(temp * 10) / 10,\n    rh:   Math.round(rh * 10) / 10,\n    mode\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1060,
        "y": 90,
        "wires": [["dcv_controller", "energy_calculator"]]
    },

    {
        "id": "dcv_controller",
        "type": "function",
        "z": "tab_dcv_kinozal",
        "name": "DCV-контроллер (алгоритм управления)",
        "func": "// ============================================================\n// DCV Controller — алгоритм управления вентиляцией по CO2\n// ВКР: Повышение энергоэффективности кинозала, ИТМО 2026\n// ============================================================\n\nconst co2  = msg.payload.co2;\nconst mode = msg.payload.mode || 'SESSION';\n\n// --- Уставки (ppm) по ГОСТ 30494-2011 ---\nconst CO2_BG    = 500;   // фоновый уровень (пустой зал)\nconst CO2_SET   = 700;   // нормативная уставка DCV\nconst CO2_WARN  = 1200;  // предупредительный порог\nconst CO2_ALARM = 1400;  // аварийный порог\n\n// --- Пределы производительности вентиляторов (%) ---\nconst FAN_NIGHT  = 10;\nconst FAN_MIN    = 30;\nconst FAN_INTERM = 40;\nconst FAN_NOM    = 100;\n\n// --- Параметры вентустановки ---\nconst Q_NOM_M3H = 4050;\nconst P_NOM_KW  = 1.97;\n\nlet freq_pct = FAN_MIN;\nlet alarm = 0, warning = 0;\nlet status_text = '';\n\nswitch (mode) {\n    case 'NIGHT':\n        freq_pct = FAN_NIGHT;\n        status_text = 'Ночной режим';\n        break;\n    case 'PRESTART':\n        freq_pct = FAN_NOM;\n        status_text = 'Предпуск (продувка зала)';\n        break;\n    case 'INTERMISSION':\n        freq_pct = FAN_INTERM;\n        status_text = 'Межсеансовый перерыв';\n        break;\n    case 'SESSION':\n    default:\n        if (co2 >= CO2_ALARM) {\n            freq_pct = FAN_NOM; alarm = 1; warning = 1;\n            status_text = 'АВАРИЯ: CO2 > ' + CO2_ALARM + ' ppm!';\n        } else if (co2 >= CO2_WARN) {\n            freq_pct = FAN_NOM; warning = 1;\n            status_text = 'Предупреждение: CO2 > ' + CO2_WARN + ' ppm';\n        } else if (co2 <= CO2_BG) {\n            freq_pct = FAN_MIN;\n            status_text = 'Дежурный режим';\n        } else {\n            // Пропорциональное управление CO2_BG..CO2_SET → FAN_MIN..FAN_NOM\n            freq_pct = FAN_MIN + (FAN_NOM - FAN_MIN) * (co2 - CO2_BG) / (CO2_SET - CO2_BG);\n            freq_pct = Math.round(Math.min(FAN_NOM, Math.max(FAN_MIN, freq_pct)));\n            status_text = 'DCV-управление активно';\n        }\n        break;\n}\n\nconst freq_hz  = Math.round(50 * freq_pct / 100);\nconst flow_m3h = Math.round(Q_NOM_M3H * freq_pct / 100);\nconst p_kw     = P_NOM_KW * Math.pow(freq_pct / 100, 3);\nconst savings_w = Math.round((P_NOM_KW - p_kw) * 1000);\n\nmsg.payload = {\n    co2, co2_1: msg.payload.co2_1, co2_2: msg.payload.co2_2,\n    temp: msg.payload.temp, rh: msg.payload.rh, mode,\n    freq_pct, freq_hz, flow_m3h,\n    power_kw:    Math.round(p_kw * 1000) / 1000,\n    power_base:  P_NOM_KW,\n    savings_w,\n    savings_pct: Math.round((1 - Math.pow(freq_pct / 100, 3)) * 100),\n    warning, alarm, status: status_text,\n    ts: new Date().toISOString()\n};\n\nconst outputs = [null, null];\noutputs[alarm ? 1 : 0] = msg;\nreturn outputs;",
        "outputs": 2,
        "noerr": 0,
        "x": 1280,
        "y": 90,
        "wires": [
            ["write_vfd_supply", "write_vfd_exhaust", "dashboard_gauge_co2", "dashboard_chart_co2", "dashboard_text_status", "dashboard_gauge_fan", "archive_csv"],
            ["alarm_handler"]
        ]
    },

    {
        "id": "write_vfd_supply",
        "type": "function",
        "z": "tab_dcv_kinozal",
        "name": "Подготовка записи ЧП П1 (приточный)",
        "func": "// Формирование Modbus-запроса на запись уставки частоты ЧП приточного вентилятора\n// ПЛК ОВЕН: Holding Register HR10, unit=1\n// Масштаб: 0-1000 = 0-100% производительности (0-50 Гц)\nconst freq_raw = Math.round(msg.payload.freq_pct * 10); // 30% → 300, 100% → 1000\nmsg.payload = { value: [freq_raw], fc: 16, unitid: 1, address: 10, quantity: 1 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1520,
        "y": 40,
        "wires": [["modbus_write_vfd_s"]]
    },

    {
        "id": "modbus_write_vfd_s",
        "type": "modbus-write",
        "z": "tab_dcv_kinozal",
        "name": "Modbus HR10 — уставка ЧП П1",
        "showStatusActivities": false,
        "showErrors": true,
        "server": "modbus_client_plc",
        "useIOFile": false,
        "ioFile": "",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1760,
        "y": 40,
        "wires": [[], []]
    },

    {
        "id": "write_vfd_exhaust",
        "type": "function",
        "z": "tab_dcv_kinozal",
        "name": "Подготовка записи ЧП В1 (вытяжной)",
        "func": "// Holding Register HR11, unit=1 — уставка ЧП вытяжного вентилятора\n// Поддерживаем баланс: приток = вытяжка (равные уставки частоты)\nconst freq_raw = Math.round(msg.payload.freq_pct * 10);\nmsg.payload = { value: [freq_raw], fc: 16, unitid: 1, address: 11, quantity: 1 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1520,
        "y": 100,
        "wires": [["modbus_write_vfd_e"]]
    },

    {
        "id": "modbus_write_vfd_e",
        "type": "modbus-write",
        "z": "tab_dcv_kinozal",
        "name": "Modbus HR11 — уставка ЧП В1",
        "showStatusActivities": false,
        "showErrors": true,
        "server": "modbus_client_plc",
        "useIOFile": false,
        "ioFile": "",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1760,
        "y": 100,
        "wires": [[], []]
    },

    {
        "id": "dashboard_gauge_co2",
        "type": "ui_gauge",
        "z": "tab_dcv_kinozal",
        "name": "CO2 концентрация",
        "group": "group_main",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Концентрация CO₂",
        "label": "ppm",
        "format": "{{value}} ppm",
        "min": 400,
        "max": 1500,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": 800,
        "seg2": 1200,
        "className": "",
        "x": 1520,
        "y": 160,
        "wires": []
    },

    {
        "id": "dashboard_chart_co2",
        "type": "ui_chart",
        "z": "tab_dcv_kinozal",
        "name": "Тренд CO2 (24 часа)",
        "group": "group_main",
        "order": 3,
        "width": 12,
        "height": 6,
        "label": "Концентрация CO₂ за 24 часа",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Нет данных",
        "dot": false,
        "ymin": 400,
        "ymax": 1500,
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#aec7e8"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1520,
        "y": 220,
        "wires": [[]]
    },

    {
        "id": "dashboard_text_status",
        "type": "ui_text",
        "z": "tab_dcv_kinozal",
        "group": "group_main",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "Статус системы",
        "label": "Режим работы:",
        "format": "{{msg.payload.status}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#111111",
        "x": 1520,
        "y": 280,
        "wires": []
    },

    {
        "id": "dashboard_gauge_fan",
        "type": "ui_gauge",
        "z": "tab_dcv_kinozal",
        "name": "Производительность вентилятора",
        "group": "group_main",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Производительность вентилятора",
        "label": "%",
        "format": "{{value}} %",
        "min": 0,
        "max": 100,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": 50,
        "seg2": 80,
        "className": "",
        "x": 1520,
        "y": 340,
        "wires": []
    },

    {
        "id": "archive_csv",
        "type": "function",
        "z": "tab_dcv_kinozal",
        "name": "Архивирование данных (CSV)",
        "func": "const d = msg.payload;\nconst now = new Date();\nconst dateStr = now.toISOString().split('T')[0];\nconst timeStr = now.toTimeString().split(' ')[0];\n\nconst row = [\n    `${dateStr} ${timeStr}`,\n    d.co2_1, d.co2_2, d.co2,\n    d.temp, d.rh, d.mode,\n    d.freq_pct, d.flow_m3h,\n    d.power_kw, d.savings_pct\n].join(',');\n\nmsg.filename = `/home/node-red/logs/dcv_${dateStr}.csv`;\nmsg.payload  = row + '\\n';\nmsg.flags    = { append: true };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "const h = { filename: '/home/node-red/logs/dcv_HEADER.csv', payload: 'timestamp,co2_1_ppm,co2_2_ppm,co2_max_ppm,temp_C,rh_pct,mode,fan_pct,flow_m3h,power_kw,savings_pct\\n', flags: { append: false } }; node.send(h);",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 400,
        "wires": [["file_write"]]
    },

    {
        "id": "file_write",
        "type": "file",
        "z": "tab_dcv_kinozal",
        "name": "Запись в файл",
        "filename": "",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 1760,
        "y": 400,
        "wires": [[]]
    },

    {
        "id": "alarm_handler",
        "type": "function",
        "z": "tab_dcv_kinozal",
        "name": "Обработчик аварий",
        "func": "const d = msg.payload;\nconst level = d.alarm ? 'АВАРИЯ' : 'ПРЕДУПРЕЖДЕНИЕ';\nnode.warn(`${level}: CO2=${d.co2} ppm. Вентиляция ${d.freq_pct}%.`);\n\nmsg.topic = `${level} CO2 — Кинозал`;\nmsg.payload = {\n    type: d.alarm ? 'ALARM' : 'WARNING',\n    message: `${level}: CO2 = ${d.co2} ppm\\nВентиляция: ${d.freq_pct}% (${d.flow_m3h} м³/ч)\\n` +\n             `Время: ${d.ts}\\nОбъект: Кинозал, Ярославский пр. 55`,\n    co2: d.co2, ts: d.ts\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1520,
        "y": 480,
        "wires": [["alarm_notify", "dashboard_alarm_text"]]
    },

    {
        "id": "alarm_notify",
        "type": "debug",
        "z": "tab_dcv_kinozal",
        "name": "Уведомление (лог / Telegram)",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1760,
        "y": 460,
        "wires": []
    },

    {
        "id": "dashboard_alarm_text",
        "type": "ui_notification",
        "z": "tab_dcv_kinozal",
        "name": "Уведомление Dashboard",
        "position": "center center",
        "displayTime": 10,
        "showConfirmation": true,
        "outputs": 0,
        "ok": "ОК",
        "cancel": "",
        "raw": false,
        "className": "",
        "x": 1760,
        "y": 520,
        "wires": []
    },

    {
        "id": "manual_mode_inject",
        "type": "ui_dropdown",
        "z": "tab_dcv_kinozal",
        "name": "Ручное управление режимом",
        "label": "Принудительный режим:",
        "tooltip": "",
        "place": "Выберите режим...",
        "group": "group_control",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {"label": "Авто (по расписанию)", "value": "AUTO",         "type": "str"},
            {"label": "Ночной (10%)",          "value": "NIGHT",        "type": "str"},
            {"label": "Предпуск (100%)",        "value": "PRESTART",     "type": "str"},
            {"label": "Сеанс (DCV)",            "value": "SESSION",      "type": "str"},
            {"label": "Межсеансовый (40%)",     "value": "INTERMISSION", "type": "str"}
        ],
        "payload": "",
        "topic": "manual_mode",
        "topicType": "str",
        "className": "",
        "x": 140,
        "y": 300,
        "wires": [["manual_mode_handler"]]
    },

    {
        "id": "manual_mode_handler",
        "type": "function",
        "z": "tab_dcv_kinozal",
        "name": "Обработчик ручного режима",
        "func": "if (msg.payload === 'AUTO') {\n    global.set('manual_mode', null);\n    msg.payload = { status: 'Режим: АВТО (по расписанию)' };\n} else {\n    global.set('manual_mode', msg.payload);\n    msg.payload = { status: `Режим принудительно: ${msg.payload}` };\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "global.set('manual_mode', null);",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 300,
        "wires": [["dashboard_text_status"]]
    },

    {
        "id": "energy_calculator",
        "type": "function",
        "z": "tab_dcv_kinozal",
        "name": "Расчёт суточной экономии",
        "func": "const d = msg.payload;\nconst dt_h = 30 / 3600;\nconst delta_e = (d.power_base - d.power_kw) * dt_h;\n\nlet daily = context.get('daily_savings') || 0;\ndaily += delta_e;\ncontext.set('daily_savings', daily);\n\nconst now = new Date();\nif (now.getHours() === 0 && now.getMinutes() < 1) context.set('daily_savings', 0);\n\nmsg.payload = {\n    daily_savings_kwh: Math.round(daily * 100) / 100,\n    daily_savings_rub: Math.round(daily * 8.64 * 100) / 100,\n    current_power_kw:  d.power_kw,\n    savings_pct:       d.savings_pct\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "context.set('daily_savings', 0);",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 300,
        "wires": [["dashboard_energy_text"]]
    },

    {
        "id": "dashboard_energy_text",
        "type": "ui_text",
        "z": "tab_dcv_kinozal",
        "group": "group_energy",
        "order": 1,
        "width": 12,
        "height": 2,
        "name": "Суточная экономия",
        "label": "Экономия электроэнергии за сегодня:",
        "format": "{{msg.payload.daily_savings_kwh}} кВт·ч / {{msg.payload.daily_savings_rub}} руб.",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 18,
        "color": "#1a8500",
        "x": 1520,
        "y": 300,
        "wires": []
    },

    {
        "id": "group_main",
        "type": "ui_group",
        "name": "Мониторинг CO₂ и вентиляции",
        "tab": "ui_tab_kinozal",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },

    {
        "id": "group_control",
        "type": "ui_group",
        "name": "Управление режимами",
        "tab": "ui_tab_kinozal",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },

    {
        "id": "group_energy",
        "type": "ui_group",
        "name": "Энергетика и экономия",
        "tab": "ui_tab_kinozal",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },

    {
        "id": "ui_tab_kinozal",
        "type": "ui_tab",
        "name": "Кинозал DCV",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
