automation/node_red_flow.json
[
    {
        "id": "tab_dcv_kinozal",
        "type": "tab",
        "label": "DCV-Кинозал CO2",
        "disabled": false,
        "info": "Система автоматического управления вентиляцией кинозала по концентрации CO2.\nОбъект: СПб ГБУК «Петербург-кино», Ярославский пр., д. 55, лит. А.\nЗал: Большой кинозал, 135 мест, П1/В1 4050 м3/ч.\nАлгоритм: DCV (Demand Controlled Ventilation) по ОВЕН ДКВ-С."
    },

    {
        "id": "inject_timer",
        "type": "inject",
        "z": "tab_dcv_kinozal",
        "name": "Опрос каждые 30 с",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": 2,
        "topic": "poll",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 80,
        "wires": [["modbus_read_sensor1", "modbus_read_sensor2"]]
    },

    {
        "id": "modbus_read_sensor1",
        "type": "function",
        "z": "tab_dcv_kinozal",
        "name": "Чтение датчика CO2 №1 (зал)",
        "func": "// Симуляция чтения ОВЕН ДКВ-С по Modbus RTU (адрес 0x01)\n// В реальном проекте заменить на узел node-red-contrib-modbus\n// Регистры: 0x0000=CO2(ppm), 0x0001=T(*0.1°C), 0x0002=RH(*0.1%)\n\n// Для тестирования — генерируем реалистичные данные\nconst hour = new Date().getHours();\nlet base_co2 = 450;\n\n// Имитация: в часы сеансов CO2 растёт\nif (hour >= 12 && hour <= 22) {\n    const sessions = [{s:12,e:14},{s:15,e:18},{s:19,e:22}];\n    for (const sess of sessions) {\n        if (hour >= sess.s && hour <= sess.e) {\n            base_co2 = 700 + Math.random() * 400; // 700-1100 ppm\n            break;\n        }\n    }\n}\n\nmsg.sensor_id = 1;\nmsg.co2_1 = Math.round(base_co2 + (Math.random() - 0.5) * 40);\nmsg.temp_1 = 20.5 + (Math.random() - 0.5) * 1.0;\nmsg.rh_1 = 45 + (Math.random() - 0.5) * 5;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 60,
        "wires": [["join_sensors"]]
    },

    {
        "id": "modbus_read_sensor2",
        "type": "function",
        "z": "tab_dcv_kinozal",
        "name": "Чтение датчика CO2 №2 (вытяжка)",
        "func": "// Симуляция чтения ОВЕН ДКВ-С по Modbus RTU (адрес 0x02)\nconst hour = new Date().getHours();\nlet base_co2 = 430;\n\nif (hour >= 12 && hour <= 22) {\n    const sessions = [{s:12,e:14},{s:15,e:18},{s:19,e:22}];\n    for (const sess of sessions) {\n        if (hour >= sess.s && hour <= sess.e) {\n            base_co2 = 650 + Math.random() * 350;\n            break;\n        }\n    }\n}\n\nmsg.sensor_id = 2;\nmsg.co2_2 = Math.round(base_co2 + (Math.random() - 0.5) * 40);\nmsg.temp_2 = 21.0 + (Math.random() - 0.5) * 0.8;\nmsg.rh_2 = 47 + (Math.random() - 0.5) * 5;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 120,
        "wires": [["join_sensors"]]
    },

    {
        "id": "join_sensors",
        "type": "join",
        "z": "tab_dcv_kinozal",
        "name": "Объединение показаний",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "sensor_id",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "5",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 650,
        "y": 90,
        "wires": [["merge_data"]]
    },

    {
        "id": "merge_data",
        "type": "function",
        "z": "tab_dcv_kinozal",
        "name": "Слияние данных датчиков",
        "func": "// Объединяем данные двух датчиков и берём максимум CO2\nconst s1 = msg.payload[1] || {};\nconst s2 = msg.payload[2] || {};\n\nconst co2_1 = s1.co2_1 || 450;\nconst co2_2 = s2.co2_2 || 450;\n\n// Управляем по максимальному значению (консервативная стратегия)\nconst co2_max = Math.max(co2_1, co2_2);\n\n// Средняя температура и влажность\nconst temp = ((s1.temp_1 || 20) + (s2.temp_2 || 20)) / 2;\nconst rh   = ((s1.rh_1 || 45)   + (s2.rh_2 || 45))   / 2;\n\n// Определяем текущий режим по расписанию\nconst hour = new Date().getHours();\nlet mode = 'NIGHT';\nif (hour >= 11 && hour <= 23) {\n    const sessions = [{s:12,e:14},{s:15,e:18},{s:19,e:22}];\n    const prestart = [{s:11,e:12},{s:14,e:15},{s:18,e:19}];\n    const interms  = [{s:14,e:15},{s:18,e:19},{s:22,e:23}];\n    for (const p of prestart) {\n        if (hour >= p.s && hour < p.e) { mode = 'PRESTART'; break; }\n    }\n    if (mode === 'NIGHT') {\n        for (const sess of sessions) {\n            if (hour >= sess.s && hour <= sess.e) { mode = 'SESSION'; break; }\n        }\n    }\n    if (mode === 'NIGHT') {\n        for (const i of interms) {\n            if (hour >= i.s && hour < i.e) { mode = 'INTERMISSION'; break; }\n        }\n    }\n    if (mode === 'NIGHT' && hour >= 11) mode = 'SESSION'; // fallback\n}\n\nmsg.payload = {\n    co2_1: co2_1,\n    co2_2: co2_2,\n    co2:   co2_max,\n    temp:  Math.round(temp * 10) / 10,\n    rh:    Math.round(rh * 10) / 10,\n    mode:  mode\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 90,
        "wires": [["dcv_controller"]]
    },

    {
        "id": "dcv_controller",
        "type": "function",
        "z": "tab_dcv_kinozal",
        "name": "DCV-контроллер (алгоритм управления)",
        "func": "// ============================================================\n// DCV Controller — алгоритм управления вентиляцией по CO2\n// ВКР: Повышение энергоэффективности кинозала, 2025\n// ============================================================\n\nconst co2  = msg.payload.co2;\nconst mode = msg.payload.mode || 'SESSION';\n\n// --- Уставки (ppm) ---\nconst CO2_BG    = 500;   // фоновый уровень (пустой зал)\nconst CO2_SET   = 1000;  // нормативная уставка (ГОСТ 30494-2011: ≤1400)\nconst CO2_WARN  = 1200;  // предупредительный порог\nconst CO2_ALARM = 1400;  // аварийный порог + 100% вентиляция\n\n// --- Пределы производительности вентиляторов (%) ---\nconst FAN_NIGHT  = 10;   // ночной режим: 10% = 405 м3/ч\nconst FAN_MIN    = 30;   // дежурная вентиляция: 30% = 1215 м3/ч\nconst FAN_INTERM = 40;   // межсеансовый: 40% = 1620 м3/ч\nconst FAN_NOM    = 100;  // номинал: 100% = 4050 м3/ч\n\n// --- Номинальные параметры установки ---\nconst Q_NOM_M3H  = 4050;  // номинальный расход, м3/ч\nconst P_NOM_KW   = 1.97;  // номинальная мощность двигателя, кВт\n\nlet freq_pct = FAN_MIN;\nlet alarm = 0;\nlet warning = 0;\nlet status_text = '';\n\n// --- Алгоритм управления по режимам ---\nswitch (mode) {\n    case 'NIGHT':\n        freq_pct = FAN_NIGHT;\n        status_text = '🌙 Ночной режим';\n        break;\n\n    case 'PRESTART':\n        freq_pct = FAN_NOM;\n        status_text = '⚡ Предпуск (прогрев зала)';\n        break;\n\n    case 'INTERMISSION':\n        freq_pct = FAN_INTERM;\n        status_text = '⏸ Межсеансовый перерыв';\n        break;\n\n    case 'SESSION':\n    default:\n        if (co2 >= CO2_ALARM) {\n            freq_pct = FAN_NOM;\n            alarm = 1;\n            warning = 1;\n            status_text = '🚨 АВАРИЯ: CO2 > ' + CO2_ALARM + ' ppm!';\n        } else if (co2 >= CO2_WARN) {\n            freq_pct = FAN_NOM;\n            warning = 1;\n            status_text = '⚠️ Предупреждение: CO2 > ' + CO2_WARN + ' ppm';\n        } else if (co2 <= CO2_BG) {\n            freq_pct = FAN_MIN;\n            status_text = '✅ Дежурный режим (малая нагрузка)';\n        } else {\n            // Пропорциональное управление: CO2_BG..CO2_SET → FAN_MIN..FAN_NOM\n            freq_pct = FAN_MIN + (FAN_NOM - FAN_MIN) *\n                       (co2 - CO2_BG) / (CO2_SET - CO2_BG);\n            freq_pct = Math.round(Math.min(FAN_NOM, Math.max(FAN_MIN, freq_pct)));\n            status_text = '✅ Активное DCV-управление';\n        }\n        break;\n}\n\n// --- Расчёт выходных параметров ---\nconst freq_hz   = Math.round(50 * freq_pct / 100);          // Гц\nconst flow_m3h  = Math.round(Q_NOM_M3H * freq_pct / 100);  // м3/ч\nconst p_kw      = P_NOM_KW * Math.pow(freq_pct / 100, 3);  // кВт (закон вентилятора)\nconst p_base_kw = P_NOM_KW;                                  // базовая мощность\nconst savings_w = Math.round((p_base_kw - p_kw) * 1000);    // экономия, Вт\n\n// --- Формирование выходного сообщения ---\nmsg.payload = {\n    // Входные данные\n    co2:        co2,\n    co2_1:      msg.payload.co2_1,\n    co2_2:      msg.payload.co2_2,\n    temp:       msg.payload.temp,\n    rh:         msg.payload.rh,\n    mode:       mode,\n    // Управляющие выходы\n    freq_pct:   freq_pct,\n    freq_hz:    freq_hz,\n    flow_m3h:   flow_m3h,\n    // Энергетика\n    power_kw:   Math.round(p_kw * 1000) / 1000,\n    power_base: p_base_kw,\n    savings_w:  savings_w,\n    savings_pct: Math.round((1 - Math.pow(freq_pct / 100, 3)) * 100),\n    // Сигнализация\n    warning:    warning,\n    alarm:      alarm,\n    status:     status_text,\n    // Метка времени\n    ts:         new Date().toISOString()\n};\n\n// Несколько выходов: 0=норма, 1=предупреждение/авария\nconst out_idx = alarm ? 1 : 0;\nconst outputs = [null, null];\noutputs[out_idx] = msg;\nreturn outputs;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 90,
        "wires": [
            ["write_vfd_supply", "write_vfd_exhaust", "dashboard_gauge_co2", "dashboard_chart_co2", "dashboard_text_status", "dashboard_gauge_fan", "archive_csv"],
            ["alarm_handler"]
        ]
    },

    {
        "id": "write_vfd_supply",
        "type": "function",
        "z": "tab_dcv_kinozal",
        "name": "Запись в ЧП приточного вентилятора",
        "func": "// Запись уставки частоты в ЧП приточного вентилятора\n// Modbus TCP: host=192.168.1.10, port=502, unit=3, register=0x0001\n// Значение: 0-1000 = 0-100% (масштаб ЧП ОВЕН ПЧВ3)\n\nconst freq_raw = Math.round(msg.payload.freq_pct * 10); // 0-1000\n\nnode.send({\n    payload: {\n        value: freq_raw,\n        register: 1,\n        unitid: 3,\n        fc: 6  // Write Single Register\n    },\n    info: {\n        device: 'VFD_SUPPLY',\n        freq_pct: msg.payload.freq_pct,\n        freq_hz: msg.payload.freq_hz,\n        flow_m3h: msg.payload.flow_m3h\n    }\n});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 40,
        "wires": [[]]
    },

    {
        "id": "write_vfd_exhaust",
        "type": "function",
        "z": "tab_dcv_kinozal",
        "name": "Запись в ЧП вытяжного вентилятора",
        "func": "// Запись уставки частоты в ЧП вытяжного вентилятора\n// Modbus TCP: host=192.168.1.11, port=502, unit=4, register=0x0001\n// Поддерживаем баланс приток=вытяжка\n\nconst freq_raw = Math.round(msg.payload.freq_pct * 10); // 0-1000\n\nnode.send({\n    payload: {\n        value: freq_raw,\n        register: 1,\n        unitid: 4,\n        fc: 6\n    },\n    info: {\n        device: 'VFD_EXHAUST',\n        freq_pct: msg.payload.freq_pct,\n        freq_hz: msg.payload.freq_hz\n    }\n});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 100,
        "wires": [[]]
    },

    {
        "id": "dashboard_gauge_co2",
        "type": "ui_gauge",
        "z": "tab_dcv_kinozal",
        "name": "CO2 концентрация",
        "group": "group_main",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Концентрация CO₂",
        "label": "ppm",
        "format": "{{value}} ppm",
        "min": 400,
        "max": 1500,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": 800,
        "seg2": 1200,
        "className": "",
        "x": 1380,
        "y": 160,
        "wires": []
    },

    {
        "id": "dashboard_chart_co2",
        "type": "ui_chart",
        "z": "tab_dcv_kinozal",
        "name": "Тренд CO2 (24 часа)",
        "group": "group_main",
        "order": 3,
        "width": 12,
        "height": 6,
        "label": "Концентрация CO₂ за 24 часа",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Нет данных",
        "dot": false,
        "ymin": 400,
        "ymax": 1500,
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#aec7e8"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1380,
        "y": 220,
        "wires": [[]]
    },

    {
        "id": "dashboard_text_status",
        "type": "ui_text",
        "z": "tab_dcv_kinozal",
        "group": "group_main",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "Статус системы",
        "label": "Режим работы:",
        "format": "{{msg.payload.status}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#111111",
        "x": 1380,
        "y": 280,
        "wires": []
    },

    {
        "id": "dashboard_gauge_fan",
        "type": "ui_gauge",
        "z": "tab_dcv_kinozal",
        "name": "Производительность вентилятора",
        "group": "group_main",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Производительность вентилятора",
        "label": "%",
        "format": "{{value}} %",
        "min": 0,
        "max": 100,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": 50,
        "seg2": 80,
        "className": "",
        "x": 1380,
        "y": 340,
        "wires": []
    },

    {
        "id": "archive_csv",
        "type": "function",
        "z": "tab_dcv_kinozal",
        "name": "Архивирование данных (CSV)",
        "func": "// Запись данных в CSV-архив с ротацией по суткам\n// Файл: /home/node-red/logs/dcv_YYYY-MM-DD.csv\n\nconst d = msg.payload;\nconst now = new Date();\nconst dateStr = now.toISOString().split('T')[0];\nconst timeStr = now.toTimeString().split(' ')[0];\n\n// CSV-строка: timestamp,co2_1,co2_2,co2_max,temp,rh,mode,freq_pct,flow_m3h,power_kw,savings_pct\nconst row = [\n    `${dateStr} ${timeStr}`,\n    d.co2_1, d.co2_2, d.co2,\n    d.temp, d.rh,\n    d.mode,\n    d.freq_pct, d.flow_m3h,\n    d.power_kw, d.savings_pct\n].join(',');\n\nmsg.filename = `/home/node-red/logs/dcv_${dateStr}.csv`;\nmsg.payload = row + '\\n';\nmsg.flags = { append: true };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Создаём заголовок CSV при старте\n// (выполняется один раз при запуске)\nconst headerMsg = {\n    filename: '/home/node-red/logs/dcv_HEADER.csv',\n    payload: 'timestamp,co2_1_ppm,co2_2_ppm,co2_max_ppm,temp_C,rh_pct,mode,fan_pct,flow_m3h,power_kw,savings_pct\\n',\n    flags: { append: false }\n};\nnode.send(headerMsg);",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 400,
        "wires": [["file_write"]]
    },

    {
        "id": "file_write",
        "type": "file",
        "z": "tab_dcv_kinozal",
        "name": "Запись в файл",
        "filename": "",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 1620,
        "y": 400,
        "wires": [[]]
    },

    {
        "id": "alarm_handler",
        "type": "function",
        "z": "tab_dcv_kinozal",
        "name": "Обработчик аварий",
        "func": "// Обработчик аварийных ситуаций\nconst d = msg.payload;\n\nif (d.alarm) {\n    // Аварийная сигнализация: CO2 > 1400 ppm\n    node.warn(`АВАРИЯ: CO2=${d.co2} ppm. Вентиляция переведена на 100%.`);\n    \n    // Формируем сообщение для уведомления\n    msg.topic = 'АВАРИЯ CO2 - Кинозал';\n    msg.payload = {\n        type: 'ALARM',\n        message: `ПРЕВЫШЕНА НОРМА CO2: ${d.co2} ppm (норма ≤ 1400 ppm по ГОСТ 30494-2011)\\n` +\n                 `Время: ${d.ts}\\nВентиляция: 100% (${d.flow_m3h} м3/ч)\\n` +\n                 `Объект: Кинозал, Ярославский пр. 55`,\n        co2: d.co2,\n        ts:  d.ts\n    };\n} else if (d.warning) {\n    // Предупредительная сигнализация: CO2 > 1200 ppm\n    msg.topic = 'Предупреждение CO2 - Кинозал';\n    msg.payload = {\n        type: 'WARNING',\n        message: `Концентрация CO2 = ${d.co2} ppm (предупредительный уровень 1200 ppm)`,\n        co2: d.co2,\n        ts:  d.ts\n    };\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 480,
        "wires": [["alarm_notify", "dashboard_alarm_text"]]
    },

    {
        "id": "alarm_notify",
        "type": "debug",
        "z": "tab_dcv_kinozal",
        "name": "Уведомление (Telegram/Email)",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 460,
        "wires": []
    },

    {
        "id": "dashboard_alarm_text",
        "type": "ui_notification",
        "z": "tab_dcv_kinozal",
        "name": "Уведомление Dashboard",
        "position": "center center",
        "displayTime": 10,
        "showConfirmation": true,
        "outputs": 0,
        "ok": "ОК",
        "cancel": "",
        "raw": false,
        "className": "",
        "x": 1640,
        "y": 520,
        "wires": []
    },

    {
        "id": "manual_mode_inject",
        "type": "ui_dropdown",
        "z": "tab_dcv_kinozal",
        "name": "Ручное управление режимом",
        "label": "Принудительный режим:",
        "tooltip": "",
        "place": "Выберите режим...",
        "group": "group_control",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {"label": "Авто (по расписанию)", "value": "AUTO", "type": "str"},
            {"label": "Ночной (10%)", "value": "NIGHT", "type": "str"},
            {"label": "Предпуск (100%)", "value": "PRESTART", "type": "str"},
            {"label": "Сеанс (DCV)", "value": "SESSION", "type": "str"},
            {"label": "Межсеансовый (40%)", "value": "INTERMISSION", "type": "str"}
        ],
        "payload": "",
        "topic": "manual_mode",
        "topicType": "str",
        "className": "",
        "x": 140,
        "y": 300,
        "wires": [["manual_mode_handler"]]
    },

    {
        "id": "manual_mode_handler",
        "type": "function",
        "z": "tab_dcv_kinozal",
        "name": "Обработчик ручного режима",
        "func": "// Сохраняем выбранный ручной режим в глобальный контекст\nif (msg.payload === 'AUTO') {\n    global.set('manual_mode', null);\n    msg.payload = 'Режим: АВТО (по расписанию)';\n} else {\n    global.set('manual_mode', msg.payload);\n    msg.payload = `Режим принудительно: ${msg.payload}`;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "global.set('manual_mode', null);",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 300,
        "wires": [["dashboard_text_status"]]
    },

    {
        "id": "energy_calculator",
        "type": "function",
        "z": "tab_dcv_kinozal",
        "name": "Расчёт суточной экономии электроэнергии",
        "func": "// Накопительный расчёт суточной экономии\n// Вызывается каждые 30 секунд\n\nconst d = msg.payload;\nconst dt_h = 30 / 3600;  // интервал в часах\n\n// Текущая экономия за интервал (кВт·ч)\nconst delta_e = (d.power_base - d.power_kw) * dt_h;\n\n// Накопление за сутки\nlet daily_savings = context.get('daily_savings') || 0;\ndaily_savings += delta_e;\ncontext.set('daily_savings', daily_savings);\n\n// Сброс в полночь\nconst now = new Date();\nif (now.getHours() === 0 && now.getMinutes() < 1) {\n    context.set('daily_savings', 0);\n}\n\nmsg.payload = {\n    daily_savings_kwh:  Math.round(daily_savings * 100) / 100,\n    daily_savings_rub:  Math.round(daily_savings * 8.64 * 100) / 100,\n    current_power_kw:   d.power_kw,\n    savings_pct:        d.savings_pct\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "context.set('daily_savings', 0);",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 300,
        "wires": [["dashboard_energy_text"]]
    },

    {
        "id": "dashboard_energy_text",
        "type": "ui_text",
        "z": "tab_dcv_kinozal",
        "group": "group_energy",
        "order": 1,
        "width": 12,
        "height": 2,
        "name": "Суточная экономия",
        "label": "Экономия электроэнергии за сегодня:",
        "format": "{{msg.payload.daily_savings_kwh}} кВт·ч / {{msg.payload.daily_savings_rub}} руб.",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 18,
        "color": "#1a8500",
        "x": 1380,
        "y": 300,
        "wires": []
    },

    {
        "id": "group_main",
        "type": "ui_group",
        "name": "Мониторинг CO₂ и вентиляции",
        "tab": "ui_tab_kinozal",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },

    {
        "id": "group_control",
        "type": "ui_group",
        "name": "Управление режимами",
        "tab": "ui_tab_kinozal",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },

    {
        "id": "group_energy",
        "type": "ui_group",
        "name": "Энергетика и экономия",
        "tab": "ui_tab_kinozal",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },

    {
        "id": "ui_tab_kinozal",
        "type": "ui_tab",
        "name": "Кинозал DCV",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
